In [1]:
import pandas as pd
import numpy as np
import functools

In [2]:
#import dataset
df_life = pd.read_csv('Data/life_expectancy_years.csv')
df_child = pd.read_csv('Data/child_mortality_0_5_year_olds_dying_per_1000_born.csv')
df_income = pd.read_csv('Data/income_per_person_gdppercapita_ppp_inflation_adjusted.csv')
df_pop = pd.read_csv('Data/population_total.csv')
df_hiv = pd.read_csv('Data/people_living_with_hiv_number_all_ages.csv')
df_co2 = pd.read_csv('Data/co2_emissions_tonnes_per_person.csv')
df_hdi = pd.read_csv('Data/hdi_human_development_index.csv')
df_cont = pd.read_csv('Data/Countries-Continents.csv')

df_cont['country'] = df_cont.Country
df_cont.drop(columns = ['Country'], inplace = True)
df_cont.head()

  Continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [3]:
#melt all dataframe
df_life_melt = pd.melt(df_life, id_vars = ['country'], var_name ='year', value_name = 'lifeExp')
df_child_melt = pd.melt(df_child, id_vars = ['country'], var_name = 'year',value_name = 'child_mortality')
df_income_melt = pd.melt(df_income, id_vars = ['country'], var_name = 'year',value_name = 'income')
df_pop_melt = pd.melt(df_pop, id_vars = ['country'],var_name = 'year',value_name = 'population')
df_co2_melt = pd.melt(df_co2, id_vars = ['country'],var_name = 'year',value_name = 'co2_emission')
df_hdi_melt = pd.melt(df_hdi, id_vars = ['country'],var_name = 'year',value_name = 'hdi')
df_hiv_melt = pd.melt(df_hiv, id_vars = ['country'],var_name = 'year',value_name = 'hiv_num')

dfs = [df_life_melt,df_child_melt,df_income_melt, df_pop_melt, df_co2_melt, df_hdi_melt, df_hiv_melt]

#set multi index dataframes with indexes are country and year
def set_index(df):
    df = df.set_index(['country','year'], inplace = True)
    return(df)


#create a list of all multi-indexes dfs
dfs_multi = []    
for df in dfs:
    set_index(df)
    dfs_multi.append(df)

#join all dfs  
df = functools.reduce(lambda df1, df2: df1.join(df2, on = ['country','year'], how ='outer'),dfs_multi)
display(df.head())

,,lifeExp,child_mortality,income,population,co2_emission,hdi,hiv_num
country,year,,,,,,,
Afghanistan,1800,28.2,469.0,603.0,3280000,NaN,NaN,NaN
Albania,1800,35.4,375.0,667.0,410000,NaN,NaN,NaN
Algeria,1800,28.8,460.0,715.0,2500000,NaN,NaN,NaN
Andorra,1800,NaN,NaN,1200.0,2650,NaN,NaN,NaN
Angola,1800,27.0,486.0,618.0,1570000,NaN,NaN,NaN

In [4]:
def isMissing(df,col):
    missing = df[col].isnull().sum()
    return(missing)

df.columns
for col in df.columns:
    print(col, isMissing(df,col))

lifeExp 18258
child_mortality 18036
income 12182
population 0
co2_emission 41851
hdi 54373
hiv_num 55372

In [5]:
df.describe()

,lifeExp,child_mortality,income,population,co2_emission,hdi,hiv_num
count,40437.000000,40659.000000,46513.000000,5.869500e+04,16844.000000,4322.000000,3.323000e+03
mean,43.132180,288.487701,6392.946467,2.327764e+07,3.334821,0.646619,1.565068e+05
std,16.313553,162.329771,13446.715240,1.005185e+08,6.642171,0.167522,4.740874e+05
min,1.000000,1.950000,247.000000,6.420000e+02,0.000060,0.194000,1.000000e+01
25%,31.200000,134.000000,917.000000,4.390000e+05,0.197000,0.513000,2.500000e+03
50%,35.500000,356.000000,1640.000000,2.590000e+06,0.968000,0.673000,1.200000e+04
75%,56.000000,420.000000,4800.000000,1.090000e+07,4.090000,0.778000,7.800000e+04
max,84.200000,756.000000,182000.000000,1.680000e+09,253.000000,0.949000,5.600000e+06

In [6]:
df = df.reset_index()
df['year'] = df.year.astype('int64')
df = df[df['year'] <= 2018]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42705 entries, 0 to 46950
Data columns (total 9 columns):
country            42705 non-null object
year               42705 non-null int64
lifeExp            40437 non-null float64
child_mortality    40659 non-null float64
income             42267 non-null float64
population         42705 non-null int64
co2_emission       16844 non-null float64
hdi                4322 non-null float64
hiv_num            3323 non-null float64
dtypes: float64(6), int64(2), object(1)
memory usage: 3.3+ MB

In [7]:
df.head()

,country,year,lifeExp,child_mortality,income,population,co2_emission,hdi,hiv_num
0,Afghanistan,1800,28.2,469.0,603.0,3280000,NaN,NaN,NaN
1,Albania,1800,35.4,375.0,667.0,410000,NaN,NaN,NaN
2,Algeria,1800,28.8,460.0,715.0,2500000,NaN,NaN,NaN
3,Andorra,1800,NaN,NaN,1200.0,2650,NaN,NaN,NaN
4,Angola,1800,27.0,486.0,618.0,1570000,NaN,NaN,NaN

In [8]:
df_cont.info()

df = df.merge(df_cont, on = ['country'])
df.sample(n=200)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 0 to 193
Data columns (total 2 columns):
Continent    194 non-null object
country      194 non-null object
dtypes: object(2)
memory usage: 3.1+ KB

,country,year,lifeExp,child_mortality,income,population,co2_emission,hdi,hiv_num,Continent
5515,Bulgaria,1840,37.6,349.0,1210.0,2390000,NaN,NaN,NaN,Europe
34319,Uganda,1955,42.4,249.0,822.0,5900000,0.0448,NaN,NaN,Africa
5795,Burundi,1901,31.7,423.0,459.0,1600000,NaN,NaN,NaN,Africa
34610,United Arab Emirates,1808,30.7,434.0,1030.0,40200,NaN,NaN,NaN,Asia
8368,Croatia,1846,36.1,367.0,1670.0,1550000,NaN,NaN,NaN,Europe
30154,South Africa,1951,46.9,232.0,7180.0,14000000,4.6700,NaN,NaN,Africa
27726,Samoa,1932,28.4,189.0,2410.0,49200,NaN,NaN,NaN,Oceania
21134,Malta,1910,46.4,234.0,1790.0,241000,NaN,NaN,NaN,Europe
12791,Germany,1889,40.6,367.0,3660.0,47800000,4.1700,NaN,NaN,Europe
24193,Nicaragua,1903,26.1,507.0,2360.0,595000,NaN,NaN,NaN,North America
28180,Saudi Arabia,1948,44.0,314.0,1710.0,3080000,5.8400,NaN,NaN,Asia
23997,New Zealand,1926,59.1,56.9,8250.0,1410000,3.0300,NaN,NaN,Oceania
26776,Portugal,1858,35.6,373.0,1660.0,3990000,NaN,NaN,NaN,Europe
23383,Namibia,1969,57.7,96.3,6110.0,758000,NaN,NaN,NaN,Africa
34059,Turkmenistan,1914,27.1,383.0,2300.0,869000,1.2600,NaN,NaN,Asia
37602,San Marino,1953,NaN,NaN,9610.0,13300,NaN,NaN,NaN,Europe
2033,Austria,1862,34.4,406.0,3250.0,4290000,1.4800,NaN,NaN,Europe
15996,Iraq,1809,31.2,428.0,971.0,1080000,NaN,NaN,NaN,Asia
31363,Swaziland,1846,32.3,414.0,557.0,86000,NaN,NaN,NaN,Africa
5910,Burundi,2016,60.4,71.7,721.0,10500000,NaN,NaN,NaN,Africa
23745,Netherlands,1893,45.8,249.0,5790.0,4700000,2.4400,NaN,NaN,Europe
21121,Malta,1897,40.4,327.0,1590.0,221000,NaN,NaN,NaN,Europe
31358,Swaziland,1841,32.3,414.0,543.0,86000,NaN,NaN,NaN,Africa
20805,Mali,1800,26.4,494.0,603.0,1400000,NaN,NaN,NaN,Africa
14473,Haiti,1819,29.0,486.0,635.0,737000,NaN,NaN,NaN,North America
31770,Switzerland,1815,38.0,345.0,2710.0,1950000,NaN,NaN,NaN,Europe
2422,Bahamas,1813,35.2,421.0,1450.0,27400,NaN,NaN,NaN,North America
5141,Brazil,1904,32.5,415.0,1300.0,19800000,0.1330,NaN,NaN,South America
8262,Costa Rica,1959,62.8,111.0,4070.0,1290000,0.2990,NaN,NaN,North America
15078,Hungary,1986,69.3,20.9,17700.0,10500000,7.9400,NaN,NaN,Europe
...,...,...,...,...,...,...,...,...,...,...
30834,Sri Lanka,1974,64.4,66.9,2230.0,13500000,0.2170,NaN,NaN,Asia
25800,Papua New Guinea,1977,55.2,116.0,1750.0,3040000,0.5200,NaN,NaN,Oceania
24880,Norway,1933,65.5,58.0,7200.0,2860000,3.2100,NaN,NaN,Europe
18188,Kuwait,1811,26.0,500.0,1140.0,81300,NaN,NaN,NaN,Asia
18034,Kiribati,1876,25.0,343.0,589.0,23200,NaN,NaN,NaN,Oceania
24353,Niger,1844,30.8,433.0,502.0,1410000,NaN,NaN,NaN,Africa
17835,Kenya,1896,26.2,508.0,1150.0,2620000,NaN,NaN,NaN,Africa
25214,Pakistan,1829,25.8,502.0,1020.0,14100000,NaN,NaN,NaN,Asia
24602,Nigeria,1874,30.8,438.0,1130.0,15300000,NaN,NaN,NaN,Africa
14615,Haiti,1961,41.4,281.0,2160.0,3940000,0.0753,NaN,NaN,North America
10152,Egypt,1878,33.0,405.0,960.0,7680000,NaN,NaN,NaN,Africa
2597,Bahamas,1988,70.0,25.6,25000.0,248000,6.2200,NaN,NaN,North America
24671,Nigeria,1943,38.3,378.0,2390.0,29600000,0.0460,NaN,NaN,Africa
26232,Peru,1971,58.4,160.0,6860.0,13700000,1.3600,NaN,NaN,South America
30665,Sri Lanka,1805,32.6,410.0,898.0,1210000,NaN,NaN,NaN,Asia
21191,Malta,1967,68.7,31.8,3480.0,322000,1.6200,NaN,NaN,Europe
31045,Sudan,1966,51.0,162.0,2130.0,9050000,0.2920,NaN,NaN,Africa
20943,Mali,1938,30.5,447.0,667.0,4210000,NaN,NaN,NaN,Africa
10611,Equatorial Guinea,1899,30.8,446.0,405.0,105000,NaN,NaN,NaN,Africa
9985,Ecuador,1930,34.7,380.0,1720.0,2040000,0.3320,NaN,NaN,South America
14962,Hungary,1870,36.0,374.0,1850.0,5900000,0.3600,NaN,NaN,Europe
35419,Uzbekistan,1960,59.3,168.0,2360.0,8550000,5.6700,NaN,NaN,Asia
6207,Cameroon,1875,28.9,460.0,819.0,2160000,NaN,NaN,NaN,Africa
23273,Namibia,1859,32.4,412.0,970.0,230000,NaN,NaN,NaN,Africa
20791,Maldives,2005,75.7,22.6,7960.0,319000,1.8900,0.622,60.0,Asia
31550,Sweden,1814,38.6,299.0,1410.0,2480000,NaN,NaN,NaN,Europe
28052,Saudi Arabia,1820,32.1,416.0,858.0,2100000,NaN,NaN,NaN,Asia
369,Albania,1950,54.5,280.0,1920.0,1260000,0.2350,NaN,NaN,Europe
17994,Kiribati,1836,24.9,397.0,569.0,18700,NaN,NaN,NaN,Oceania
27603,Samoa,1809,25.4,443.0,1400.0,47200,NaN,NaN,NaN,Oceania

In [9]:
df.to_csv('Data/gapminder_dd.csv', index = False)